@charset "UTF-8";

* { /*Configurações Globais */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #f1d8c9, f2c3a7);
}

main{
    background-color: white;
    /*Background SOMENTE para o conteúdo dentro de main */
    border-radius: 10px;
    font-size: 15px;
    /* arredondamento de quina */
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    /* PARÂMETROS: quanto a sombra anda para o lado | quanto essa sombra anda para baixo | quanto essa sombra vai espalhar | quanto de transparencia a sombra terá */
    width: 600px; 
    /* Largura */
    padding: 10px;
    /* acolchoamente*/
    margin: auto;
    /* Margem Centralizada*/
}

h1{
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(129, 77, 5, 0.726);
    /*Sombra nas letras */
}

h2{
    color: #125189;
}

p{
    text-align: justify;
}