@charset "UTF-8";

@font-face {
    font-family:'Sigma';
    src: url(../fontes/Sigmar-Regular.ttf) format ('trueType');
}

@font-face {
    font-family:'PathwayExtreme';
    src: url(../fontes/PathwayExtreme-VariableFont_opsz\,wdth\,wght.ttf) format('trueType');
}

:root {
    --fonte-principal:'Sigma';
    --fonte-destaque: 'PathwayExtreme';
    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
/*todo o escopo se torna responsivo a altura
exceto os 'contêineres especiais'*/
}

header{
    background-color: black;
    text-align: center;
    color: white;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a:hover, footer a:hover {
    color: white;
    text-decoration: dashed;
}

header a, footer a {
    color: white;
    text-decoration: dashed;
    font-weight: bolder;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--fonte-destaque);
    font-size: 20px;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: black;
    color: white;
}

section.imagem > p {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.301);
    padding-left: 10px;
}


section#conteiner{
    background-color: white;
    background-image: url('../imagens/background001.jpg');
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 50vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
}

/*section article.conteudo{
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    display: inline-block;
    width: 300px;
    height: 350px;
    position: absolute;
    right: 30%;
    left: 10%;
    transform: translate(-127px, 75px);
}*/


section  p  br.separador{
    margin-bottom: 50px;
}

section#conteiner2{
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 50vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-padrão);
    font-size: 15px;
    padding: 10px;
}
