@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
/*todo o escopo se torna responsivo a altura
exceto os 'contêineres especiais'*/
    font-family: var(--fonte1);
}

header{
    background-color: black;
    text-align: center;
    color: white;
}

header > h1{
    padding-top: 50px;
    font-family: var(--fonte2);
    font-size: 10vw;
    /*Tamanho da fonte se expande ou se exprimi de acordo com a largura da viewport*/
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonte1);
}

header a:hover, footer a:hover {
    color: white;
    text-decoration: dashed;
}

header a, footer a {
    color: white;
    text-decoration: dashed;
    font-weight: bolder;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--fonte3);
    font-size: 4.5vw;
    line-height: 3.5em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: black;
    color: white;
}

section.imagem > article > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.301);
    padding-left: 5px;
}


section#conteiner{
    background-color: white;
    background-image: url('../imagens/background001.jpg');
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 50vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.410);
}

/*section article.position{
    position: absolute;
    right: 40%;
    left: 10%;
    transform: translate(-100px, 30px);
}*/


section  p  br.separador{
    margin-bottom: 50px;
}

section#conteiner2{
    background-image: url('../imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 50vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.410);
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
    font-size: 2vw;
    padding: 10px;
}
